[defaults]
inventory = inventory/vcenter_csv_inventory.py
stdout_callback = yaml
retry_files_enabled = False
host_key_checking = False
interpreter_python = auto_silent

[inventory]
enable_plugins = script, yaml, ini
